#tabbed-block .block {
  display: none;
  padding-top: 12px;
}

#tabbed-block div[style^="page-break-after"] ~ * {
  display: none;
}

.tab-nav {
  border-bottom: 1px solid #e6e6e6;
  width: 688px;
  margin-bottom: 35px;
}
.tab-nav ul {
  overflow: hidden;
  position: relative;
  top: 1px; 
  margin: 0;
}
.tab-nav li {
  float: left; margin: 0 0 0 2px;
  padding: 0;
  font-size: 11px;
  line-height: 1;
}
.tab-nav li:first-child {
  margin: 0;
}
.tab-nav li a {
  display: block;
  padding: 9px 15px 7px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 0 0;
  color: inherit;
  background: #f2f2f2;
}
.tab-nav li a:hover,
.tab-nav li a.is-active {
  color: #35792a;
  background: none;
  text-decoration: none;
}

.tab-nav li a.is-active {
  border-bottom-color: #fff;
  cursor: text;
}

#tabbed-block .article {
  display: none;
}

#tabbed-block hr {
  border-color: #e6e6e6;
  margin: 2em 0;
}

#tabbed-block .intro h1 {
  font: 40px/1.05 Akkurat-Pro-light, arial, sans-serif;
  color: #35792a;
  margin: 33px 0 17px;
}

#tabbed-block .intro ul li {
  background: url(../img/icon.bullet.disc.l.png) no-repeat 2px 10px;
  padding-left: 18px;
  margin-bottom: 0.5em;
}

#tabbed-block .article h1 {
  font-size: 24px;
  line-height: 1.25;
  color: #333;
  margin: 33px 0 28px;
}

#tabbed-block .article-lg-txt h2 {
  font-size: 22px;
  line-height: 1.273;
  color: #333;
  margin: 33px 0 15px;
}


#tabbed-block .article-lg-txt h3 {
  font-size: 18px;
  line-height: 1.222;
  color: #333;
  margin: 28px 0 22px;
}

#tabbed-block .article h1:first-child,
#tabbed-block .article-lg-txt h2:first-child,
#tabbed-block .article-lg-txt h3:first-child {
  margin-top: 0;
}

#tabbed-block ol {
  padding-left: 30px;
  list-style: decimal;
}

#tabbed-block .article-lg-txt li {
  line-height: 1.25;
  margin-bottom: 1em;
}

#tabbed-block .article-lg-txt li:last-child {
  margin-bottom: 30px;
}

#tabbed-block .article-lg-txt ul li {
  padding-left: 14px;
  background-position: 1px 6px;
}

#tabbed-block blockquote {
  color: #80276c;
  font-size: 18px;
  line-height: 1.333;
  border-left: 1px solid;
  padding: 5px 0 5px 12px;
  margin: 2em 0;
}

#tabbed-block blockquote p:last-child {
  margin: 0;
}

#tabbed-block [style*="smaller"] {
  display: inline-block;
  line-height: 1.462;
}

#tabbed-block .read-more {
  display: inline-block;
  border: 1px solid #c6d52f;
  border-radius: 5px;
  padding: 7px 26px 6px 9px;
  color: #35792a;
  position: relative;
  font-size: 13px;
  line-height: 1.231;
  cursor: pointer;
  margin: 16px 0;
}
#tabbed-block .read-more:after {
  content: '';
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #35792a;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
}
#tabbed-block .read-more:hover {
  background: #c6d52f;
  color: #034c1f;
}
#tabbed-block .read-more:hover:after {
  border-left-color: #034c1f;
}

#tabbed-block .faq {
  padding: 0;
}

#tabbed-block .faq h2 {
  font-size: 24px;
  float: none;
  margin-bottom: 30px;
}

#tabbed-block .faq .toggleall {
  margin-bottom: 15px;
}

#tabbed-block img {
  max-width: 100%;
}

.exp-image {
  margin: 20px 0 10px;
}

.exp-image-link {
  font: 14px/1 Akkurat-Pro-Bold, arial, sans-serif;
  margin-bottom: 40px;
}

.exp-image-link a {
  border: 0 !important;
  background: none !important;
}

.exp-image-link a:after {
  content: '';
  display: inline-block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #35792a;
  margin-left: 8px;
}

.exp-image-link a:hover:after {
  border-left-color: #034c1f;
}

